.features {
    background-color: #F4F6F9;
}

.features__main {
    text-align: center;
}

.advertisement {
    display: none;
}

@media (min-width: 1440px) {

.features {
    text-align: start;
    margin: auto;
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position: 44rem, 50%;
}

.features__main {
    margin-block-start: 2rem;
    margin-inline-start: 10rem;
    text-align: start;
    float: left;
    max-width: 40rem;
}

}
