.features__sitehead__heading {
    text-align: center;
}


@media (min-width:1440px) {

.features__sitehead {
    text-align: start;
}

.features__sitehead__heading {
    text-align: start;
    margin: 0;
}
}
