@import "variable";

  .article__start {
    &::after {
      content: " ";
      display: block;
      width: 100%;
      height: 550px;
      background-image: url(../img/football-player-phone.png);
      background-repeat: no-repeat;
      background-size: 1600px;
      background-position: center;
      margin: auto;
    }
  }

.article__interface {
  margin-top: -50px;
}

.article__logos {
  padding-block-end: 24px;
  height: 409px;
  }
  .article__logos > header {
    padding-top: 57px;
    padding-bottom: -15px;
  }

icon__list li {
  margin-top: 50px;
}
.icon__list li p {
  margin-inline-end: 24px;
  line-height: 23px;
  font-size: 16px;
}
.features__experience {
  background-color: #FAFAFA;
}

.feature__experience--header {
  padding-block-start: 40px;
}

.icon__list li svg {
  fill: #00ADEE;
  margin-block-start: 50px;
}
article .get__start p {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  margin-inline-start: 18px;
  margin-inline-end: 22px;
}

@media (min-width: $query-deskt) {

  .article__logos {
    height: 240px;
    margin: 0;
  }

  .article__logos > header {
    padding-top: 12px;
  }

  .feature__experience--article {
    background-image: url(../img/background_blue_rectangles.svg);
    background-color: #00ADEE;
    background-repeat: no-repeat;
    opacity: 0.6;
    height: 589px;
    }

    .article__start--learning {
      width: 480px;
      height: 0px;
      text-align: start;
      line-height: 10px;
      padding-inline-start: 150px;
      padding-block-start: 100px;
      margin-block-end: 0;
      margin-inline-end: 0;
    }
    .get__start {
      height: 139px;
    }

    .article__interface {
      text-align: start;
    }

    .article__start {
      &::after {
        background-position-x: 230px;
        background-position-y: -580px;
        margin: auto;
      }
    }

  .icon__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
    padding-block-start: 60px;
  }
  .feature__experience--article p {
    color: #ffff;
    width: 350px;
    font-size: 16px;
    line-height: 23px;
    font-family: $font-family;
  }

  .feature__experience--header > h3 {
    color: #ffff;
  }

  .icon__list li svg {
    fill: white;
    text-align: start;
  }

}

