@import "variable";

  .article__start {
    &::after {
      content: " ";
      display: block;
      width: 100%;
      height: 550px;
      background-image: url(../img/football-player-phone.png);
      background-repeat: no-repeat;
      background-size: 1600px;
      background-position: center;
      margin: auto;
    }
  }

.article__interface {
  margin-top: -50px;
}

icon__list li {
  margin-top: 50px;
}
.features__experience {
  background: #FAFAFA;
}

.feature__experience--header {
  padding-block-start: 40px;
}


.icon__list li svg {
  fill: #00ADEE;
}


@media (min-width: $query-deskt) {
  .feature__experience--article {
    background-color: #00ADEE;
    opacity: 0.4;
    // padding-bottom: 20px;
    }

    .article__start--learning {
      width: 480px;
      height: 139px;
      text-align: start;
      padding-inline-start: 100px;
      padding-block-start: 100px;
      margin-block-end: 0;
      margin-inline-end: 0;
    }

    .article__start {
      &::before {
        // background-size: 2000px;
        background-position-x: 20%;
        margin: auto;
      }
    }

  .icon__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 20px;
    grid-column: 20px;
  }
  .feature__experience--article p {
    color: #ffff;
  }

  .feature__experience--header > h3 {
    color: #ffff;
  }

  .icon__list li svg {
    fill: white;
  }

}

