@import "variable";

.features {
  background-color: $background;
}

.features__main {
  text-align: center;
  background-color: $background;
}

.advertisement {
  display: none;
}

@media (min-width: 1440px) {

  .features__main {
    max-width: 1370px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

  .features__main--heading {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position-x: 540px;
    background-position-y: -192px;

  }

.features__container {
  margin-block-start: 2rem;
  margin-inline-start: 2rem;
  max-width: 600px;
  text-align: start;
  padding-bottom: 200px;
}

}
