@import "variable";

.features {
  background-color: $background;
}

.features__main {
  text-align: center;
  background-color: $background;
}

.advertisement {
  display: none;
}

@media (min-width: $query-deskt) {

  .features__main {
    max-width: $max-width;
    @include reset-margin-auto;
}

  .features__main--heading {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position-x: $px-size + 440px;
    background-position-y: -192px;

  }

  .features__container {
    @include reset-margin-rems;
    max-width: $max-width - 770px;
    text-align: start;
    padding-bottom: $max-width - 1170px;
  }

}
