@import "variable";

body {
  font-family: 'mylato', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}


img {
  @include reset-max-width;
}

ul {
  list-style: none;
}

main {
  text-align: center;
}
article {
  margin: 0;
}

h3 {
  // font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  color: #333333;
}

footer {
  height: 210px;
  justify-content: space-between;
  background: #00ADEE;
  padding-inline-start: 2rem;
}

@media (min-width: $query-deskt) {

  main {
    margin: 0;
  }

   li p {
    // font-family: $font-family;
    line-height: 23px;
    font-weight: 400;
    font-size: 30px;
    color: $color;
  }


  .features__main--heading {
    max-width: $max-width;
    @include reset-margin-auto;
}


}
