@import "variable";

@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  src:local('Lato Regular'),
      local($filename-regular),
      url(#{$path-regular}#{$filename-regular}#{$extension-regular2}) format(#{$format-regular2}),
      url(#{$path-regular}#{$filename-regular}#{$extension-regular1}) format(#{$format-regular1}),
}

@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  src:local('Lato Bold'),
      local($filename-bold),
      url(#{$path-bold}#{$filename-bold}#{$extension-bold2}) format(#{$format-bold2}),
      url(#{$path-bold}#{$filename-bold}#{$extension-bold1}) format(#{$format-bold1}),
}
