@import "variable";

@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
        local('lato-regular'),
        url(../fonts/lato-regular.woff2) format('woff2'),
        url(../fonts/lato-regular.woff) format('woff');
}

@font-face {
  font-family: mylato;
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
        local('lato-bold'),
        url(../fonts/lato-bold.woff2) format('woff2'),
        url(../fonts/lato-bold.woff) format('woff');
}
