@import "variable";

.white__feature--image {
  font-family: $font-family;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  padding-block-start: 40px;
  margin-inline-start: 51px;
  align-items: center;
}

.icons__list--items,
.links__list--items {
  @include display_flex;
  align-items: center;

}
.icons__list--items li{
  margin: 10px;
}
.links__list--items {
  justify-content: space-between;
}

.links__list--items a {
  color: #ffffff;
  font-family: $font-family;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}


@media (min-width: $query-deskt) {

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 127px;
}

.white__feature--image {
  order: 1;
}

.links__list--items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 2;
}

.icons__list--items {
  display: flex;
  flex-direction: row;
  order: 3;
}
.links__list--items li {
  margin-block-start: 16px;
  margin-inline-end: 40px;
}

.links__list--items li a {
  color: #ffffff;
  text-decoration: none;
}

.white__feature--image,
.icons__list--items,
.links__list--items {
  padding-block-start: 3rem;
}

}
