@import "variable";

.features__images {
  width: $max-width - 1250px;
  height: $max-width - 1310px;
}

.svg__links {
  @include reset-max-width;
}

.football__player {
}
.football__player--image {
  background-image: url(../webroot/img/screen-shot-liverpool.png);
}

@media (min-width: $query-deskt) {

  .features__images {
    margin-bottom: 6rem;
  }
}
