@import "variable";

.features__masthead {
    display: block;
    padding: 0;
    margin: 0;
}

.features__masthead__heading {
    font-family: $font-family;
    line-height: 40px;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: $color;
}

.features__masthead--description {
    font-family: $font-family;
    line-height: 23px;
    font-size: 16px;
    color: $color;
}

.features__masthead--lists {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -40px;
}

.features__masthead--lists--items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__masthead--svg--images {
  text-decoration: none;
  justify-content: space-between;
  margin-right: 1rem;
}

@media (min-width:1440px) {
  .features__masthead--svg--images--apple--link {
    margin-left: 0;
    text-align: start;
    left: -2rem;
  }

  .features__masthead__heading {
    font-size: 2.6rem;
    line-height: 4rem;
  }

  .features__masthead--description {
    font-size: 1.5rem;
    line-height: 3rem;
    max-width: 35rem;
  }
}

.features__masthead--lists {
  justify-content: left;
}
