@import "variable";

.features__main--heading {
  background-color: $background;
}

.features__masthead {
  display: block;
  @include reset-list;
}

.features__masthead__heading {
  font-family: $font-family;
  line-height: 40px;
  font-size: 30px;
  letter-spacing: 0.03em;
  color: $color;
}

.features__masthead--description {
  font-family: $font-family;
  line-height: 23px;
  font-size: 16px;
  color: $color;
}

.features__masthead--lists {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -40px;
}

.features__masthead--lists--items {
  @include reset-list;
  list-style: none;
}

.features__masthead--svg--images {
  text-decoration: none;
  justify-content: space-between;
  margin-right: 1rem;
}

.start-learn {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: #00ADEE;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 150px;
}
.learn_more {
  font-size: 16px;
  line-height: 21px;
  text-transform: lowercase;
}

@media (min-width: $query-deskt) {
  .features__masthead--svg--images--apple--link {
    margin-left: 0;
    text-align: start;
    left: -2rem;
  }

  .features__container {
  @include reset-margin-rems;
    max-width: 600px;
    text-align: start;
    padding-bottom: 200px;
  }


  .features__main--heading {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position-x: $px-size + 440px;
    background-position-y: -192px;
    background-color: $background;
  }

  .features__masthead__heading {
    background-color: $background;
    font-size: 2.6rem;
    line-height: 4rem;
  }

  .features__masthead--description {
    font-size: 1.5rem;
    line-height: 3rem;
    max-width: $max-width - 810px;
  }

  .features__masthead--lists {
    justify-content: left;
  }
}
