.features {
    background-color: #F4F6F9;
}

.features__main {
    text-align: center;
}

.advertisement {
    display: none;
}

@media (min-width: 1440px) {

.features {
    text-align: start;
    margin-inline-start: 5rem;
}

.features__main {
    margin-block-start: 2rem;
    margin-inline-start: 5rem;
    text-align: start;
    float: left;
    width: 40%;
}

.advertisement {
    display: block;
    float: right;
    width: 50%;
}
}
