
@font-face {
     font-family: "lanto";
     src: url("/webroot/fonts/lato-bold\ \(1\).woff2") format("woff2"),
          url("/webroot/fonts/lato-bold\ \(1\).woff") format("woff");
     font-style: normal;
     font-weight: 700;
   }

 @font-face {
     font-family: "lanto";
     src: url("/webroot/fonts/lato-light.woff2") format("woff2"),
          url("/webroot/fonts/lato-light.woff") format("woff");
     font-style: normal;
     font-weight: 700;
   }
