.features__images {
    width: 120px;
    height: 60px;
}

.svg__links {
    width: 145.69px;
    height: 44px;
}

@media (min-width: 1440px) {
    img.advertisement__phones {
      margin-inline-start: 3rem;
      margin-block-start: -12rem;
    }

    .features__images {
      margin-bottom: 10rem;
    }
}
