@font-face {
  font-family: mylato;
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("lato-bold"), url(../fonts/lato-bold.woff2) format(woff2), url(../fonts/lato-bold.woff) format(woff); }

@font-face {
  font-family: mylato;
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("lato-regular"), url(../fonts/lato-regular.woff2) format(woff2), url(../fonts/lato-regular.woff) format(woff); }

body {
  font-family: "mylato", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0; }

img {
  max-width: 100%;
  max-height: 100%; }

ul {
  list-style: none;
  margin: 0; }

main {
  text-align: center; }

article {
  margin: 0; }

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  color: #333333; }

footer {
  padding-block-end: 50px;
  justify-content: space-between;
  background: #00adee;
  padding-inline-start: 2rem; }

@media (min-width: 1350px) {
  main {
    margin: 0; }
  footer {
    padding-block-end: 0; }
  li p {
    line-height: 23px;
    font-weight: 400;
    font-size: 30px;
    color: #333333; }
  .features__main--heading {
    padding-block-start: 40px; } }

.features__sitehead__heading {
  text-align: center;
  margin: 0; }

@media (min-width: 1350px) {
  .features__sitehead {
    text-align: start; }
  .features__sitehead__heading {
    text-align: start;
    margin: 0; } }

.features__main--wrapper {
  background-color: #f4f6f9; }

.features__main--heading {
  background-color: #f4f6f9;
  padding-inline-start: 20px;
  padding-inline-end: 20px; }

.features__masthead {
  display: block;
  margin: 0;
  padding: 0; }

.features__masthead__heading {
  line-height: 40px;
  font-size: 29px;
  letter-spacing: 0.03em;
  color: #333333; }

.features__masthead--description {
  line-height: 23px;
  font-size: 16px;
  color: #333333; }

.features__masthead--lists {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-end: 50px; }

.features__masthead--lists--items {
  margin: 0;
  padding: 0;
  list-style: none; }

.features__masthead--svg--images {
  text-decoration: none;
  justify-content: space-between;
  margin-right: 1rem; }

.start-learn {
  font-size: 16px;
  font-weight: bold;
  color: #00adee;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 150px; }

.learn_more {
  font-size: 16px;
  line-height: 21px;
  text-transform: lowercase;
  color: #00adee;
  text-decoration: none; }

@media (min-width: 1350px) {
  .features__masthead--svg--images--apple--link {
    margin-left: 0;
    text-align: start;
    left: -2rem; }
  .features__container {
    margin-block-start: 2rem;
    margin-inline-start: 6rem;
    max-width: 1100px;
    text-align: start;
    padding-bottom: 200px;
    margin-top: 0; }
  .features__main--heading {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position: 526px 100%; }
  .features__masthead__heading {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    width: 50%; }
  .features__masthead--description {
    line-height: 26px;
    font-size: 18px;
    max-width: 410px; }
  .features__masthead--lists {
    justify-content: left;
    padding: 0;
    padding-inline-end: 0; }
  .features__main--wrapper > * {
    max-width: 1470px;
    margin-inline-end: auto;
    margin-inline-start: auto; } }

.features__images {
  width: 120px;
  height: 60px; }

.svg__links {
  max-width: 100%;
  max-height: 100%; }

.football__player--image {
  background-image: url(../img/screen-shot-liverpool.png); }

.logos {
  column-gap: 20px;
  row-gap: 20px;
  display: grid;
  place-content: center center;
  grid-template-columns: repeat(3, 1fr); }

.sports1 {
  grid-column-start: 1;
  grid-column-end: 2; }

.sports2 {
  grid-column-start: 3;
  grid-column-end: 4; }

.sports3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3; }

.sports4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; }

.sports5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; }

.sports6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5; }

@media (min-width: 1350px) {
  .features__images {
    margin-bottom: 6rem; }
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px; } }

.article__start::after {
  content: " ";
  display: block;
  width: 100%;
  height: 550px;
  background-image: url(../img/football-player-phone.png);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  margin: auto; }

.article__interface {
  margin-top: -50px; }

.article__logos {
  padding-block-end: 24px;
  height: 409px; }

.feature__experience--article {
  background-color: #fafafa; }

.article__logos > header {
  padding-top: 57px;
  padding-bottom: -15px; }

.icon__list li {
  margin-top: 50px; }

.icon__list li p {
  margin-inline-end: 24px;
  line-height: 23px;
  font-size: 16px;
  margin-block-end: 0;
  padding-block-end: 40px; }

.article__logos {
  background-color: #fafafa; }

.article__logos--wrapper > header > h3 {
  margin-block-start: 0;
  padding-block-start: 50px; }

.feature__experience--header {
  padding-block-start: 40px; }

.icon__list li svg {
  fill: #00adee;
  margin-block-start: 50px; }

article .get__start p {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  margin-inline-start: 18px;
  margin-inline-end: 22px; }

@media (min-width: 1350px) {
  .article__logos {
    height: 240px;
    margin: 0; }
  .article__logos > header {
    padding-top: 12px; }
  .feature__experience--article {
    background-image: url(../img/background_blue_rectangles.svg);
    background-color: #00adee;
    background-repeat: no-repeat;
    padding-block-end: 100px;
    opacity: 0.6;
    height: 589px; }
  .article__logos--wrapper {
    max-width: 1320px;
    margin: auto; }
  .feature__experience--article__wrapper {
    max-width: 1320px;
    margin: auto; }
  .article__start {
    position: relative;
    max-width: 1440px;
    margin: auto; }
  .article__start--learning {
    position: absolute;
    top: 150px;
    width: 480px;
    height: 0px;
    text-align: start;
    padding-inline-start: 150px;
    margin-block-end: 0;
    margin-inline-end: 0; }
  article .get__start p {
    font-size: 16px;
    line-height: 23px;
    text-align: start;
    margin-inline-start: -3px;
    margin-inline-end: 5px; }
  .article__start--heading {
    position: absolute;
    top: 6.5rem; }
  .get__start {
    position: absolute;
    top: 6rem; }
  .start-learn {
    position: absolute;
    bottom: 2rem; }
  .learn_more {
    position: absolute;
    top: 15rem; }
  .article__interface {
    text-align: start; }
  .article__start::after {
    background-position: calc(50% + 255px);
    padding: 0;
    background-size: 2000px;
    padding-block-end: 51px;
    padding-block-start: 100px; }
  .features__experience > * {
    max-width: 1320px;
    margin: auto; }
  .icon__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start; }
  .feature__experience--article p {
    color: #ffff;
    width: 350px;
    font-size: 16px;
    line-height: 23px;
    font-family: mylato; }
  .feature__experience--header > h3 {
    color: #ffff; }
  .icon__list li svg {
    fill: white;
    text-align: start; } }

.white__feature--image {
  font-family: mylato;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  padding-block-start: 40px;
  margin-inline-start: 51px;
  align-items: center; }

.icons__list--items,
.links__list--items {
  display: flex;
  flex-direction: row;
  align-items: center; }

.icons__list--items li {
  margin: 10px; }

.links__list--items {
  justify-content: space-between; }

.links__list--items a {
  color: #ffffff;
  font-family: mylato;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none; }

@media (min-width: 1350px) {
  footer > * {
    max-width: 1320px;
    margin: auto; }
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 127px; }
  .white__feature--image {
    order: 1; }
  .links__list--items {
    display: flex;
    flex-direction: row;
    padding-block-end: 12px;
    order: 2; }
  .icons__list--items {
    display: flex;
    flex-direction: row;
    order: 3; }
  .links__list--items li {
    margin-block-start: 16px;
    margin-inline-end: 40px; }
  .links__list--items li a {
    color: #ffffff;
    text-decoration: none; }
  .white__feature--image {
    padding-block-start: 5px; } }
