.features__masthead {
    display: block;
    padding: 0;
    margin: 0;
}

.features__masthead__heading {
    font-family: mylato;
    line-height: 40px;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: #333333;
}

.features__masthead--description {
    font-family: mylato;
    line-height: 23px;
    font-size: 18px;
    color: #4F4F4F;
}

.features__masthead--lists {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features__masthead--lists--items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features__masthead--svg--images {
    text-decoration: none;
    justify-content: space-between;
    margin-right: 1rem;
}

@media (min-width:1440px) {
  .features__masthead--svg--images--apple--link {
    margin-left: -2.5rem;
  }

  .features__masthead__heading {
    font-size: 3rem;
    line-height: 4rem;
  }

  .features__masthead--description {
    font-size: 1.5rem;
    line-height: 4rem;
  }
}
