.features__masthead {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
}

h2.features__masthead__heading {
    font-family: heading;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.03em;
}

p.features__masthead--description {
    font-family: paragraph;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

ul.features__masthead--lists {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.features__masthead--lists--items {
    list-style: none;
    padding: 0;
    margin: 0;
}

a.features__masthead--svg--images {
    text-decoration: none;
    justify-content: space-between;
    margin-right: 1rem;
}